/* Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* BASIC STYLES */
body {
    margin: 0;
    padding: 0;
    font-family: Avalon,sans-serif;
    font-size: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

*, *::before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* HEADER */
header {
    position: relative;
    width: auto;
    margin: 0 auto 0 auto;
    padding: 10px;
    background-color: #131313;
    font-size: 13px;
}

header .nav-left {
    float: left;
}

header .nav-left ul li {
    display: inline-block;
    padding-right: 10px;
}

header .nav-right {
    float: right;
} 

header .nav-right ul li {
    display: inline-block;
    padding-left: 10px;
}

header a {
    color: #999999;
    text-decoration: none;
    transition: all .5s ease;
}

/* TOP-MENU */

.top-menu {
    width: auto;
    height: 20px;
    font-size: 30px;
    margin: 0 auto 0 auto;
    padding: 5px 5px;
    background-color: #ffffff;
    position: sticky;
    border-bottom: 20px 20px solid;
    top: 0;
    z-index: 1;
    align-items: center;
    align-content: center;
}

.top-menu .nav-left {
    float: left;
    padding-top: 5px;
    background-color: #ffffff;
}

.top-menu .nav-left ul li {
    display: inline-block;
    padding-right: 20px;
    font-size: 14px;
    letter-spacing: -0.8px;
}

.top-menu a {
    color: #999999;
    text-decoration: none;
}

.top-menu .nav-right {
    float: right;
    padding: 5px;
    background-color: #ffffff;
}
.icon {
    display: block;
    background: transparent url(../images/icons-sprite.svg?1520429355783) no-repeat;
    background-size: 1296px 1296px;
    background-position: 1296px 1296px;
    width: 16px;
    height: 16px;
}

.icon--search--dark {
    background-position: -848px -848px;
}

.top-menu .nav-right .tnw {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding-right: 15px;
}
/* 
.top{
background-color: aqua;
}
.news{
background-color: blue;
}
.funding{
background-color: blueviolet;
}
.most{
background-color: brown;
}

.deals{
background-color: darkblue;
}
.social{
background-color: darkgreen;
} */